.flex_form {
    @extend .flexColumnNoWrap;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.form_input {
width: 600px;
}

.form_textarea {
width: 600px;
height: 200px !important;
}

@media screen and (max-width: $display-width-tablet) {
    .form_input {
        width: 100%;
    }

    .form-floating {
        width: 100%;
    }
        
    .form_textarea {
    width: 100%;
    }

    .flex_form {
        padding: 0 25px;
    }

}