nav {
    min-height: 76px;
}

.socialIcons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.imageNav {
    width: 30px;
    height: auto;
    display: block;
}

@media screen and (max-width: $display-width-laptop) {
    nav {
        padding: 20px 20px 22px 20px;
    }
}