.bg_dark {
    background-image: url('../images/background_dark.webp')
}

.bg_light {
    background-image: url('../images/background_light.jpg')
}

a, a:visited {
    text-decoration: none;
    color: $font-secondary-color;
}

.font_color_black {
    color: $font-primary-color;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 100px;
}

h3{
    font-size: 24px;
    font-weight: 400;
}

.titlePages {
    margin: 70px 0px 60px 0px;
}

.actionButton {
    display: block;
    margin: 75px auto 75px auto;
    width: fit-content;
}