$background-primary-color: #ffffff;
$background-secondary-color: #000000;
$background-tertiary-color: #212529;

$font-primary-color: #212529;
$font-secondary-color: #ffffff;
$font-tertiary-color: #7d8590;

$display-width-laptop: 1200px;
$display-width-tablet-landscape: 992px;
$display-width-tablet: 768px;
$display-width-mobile: 576px;