$background-primary-color: #ffffff;
$background-secondary-color: #000000;
$background-tertiary-color: #212529;
$font-primary-color: #212529;
$font-secondary-color: #ffffff;
$font-tertiary-color: #7d8590;
